* {
  padding: 0;
  margin: 0;
}

#container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  flex-direction: column;
  font-family: sans-serif;
  background-color: black;
}
#currentDay {
  color: white;
  width: 90%;
  font-size: 5rem;
  display: flex;
  border-top: 3px solid rgb(95, 239, 249);
  border-bottom: 3px solid rgb(95, 239, 249);
  border-radius: 5px;
  padding: 0px 10px;
  justify-content: center;
  transition: all linear 0.8s;
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}

@keyframes floating {
  from { transform: translate(0,  0px); }
  65%  { transform: translate(0, 15px); }
  to   { transform: translate(0, -0px); }    
}

/* #container::before {
  content: "";
  height: 100%;
  width: 100%;
  background-image: url("nature.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  opacity: 0.4;
} */

#mainContainer {
  height: 24%;
  border-radius: 30px;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 9rem;
  padding: 0 10px;
  box-sizing: border-box;
  transition: all linear 0.2s;

}

#mainContainer:hover {
  border-left: 3px solid aqua;
  border-right: 3px solid aqua;
}

#mainContainer span {
  padding: 0px 15px;
  border-radius: 10px;
}

/* #hours {
  background-color: rgb(122, 24, 214);

}

#minutes {
  background-color: rgb(61, 150, 252);

} */
#seconds {
  color: silver;
  transition: all linear 0.5s;
}

#dateContainer {
  color: aliceblue;
  font-size: 3rem;
  margin: 10px;

}

#month {
  transition: all linear 0.2s;
  width: 100%;
  padding: 0 10px 0 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  opacity: 0.8;
}
#month:hover {
  border-right: 2px solid white;
  border-left: 2px solid white;
}
